extends layout

block content
  #intro
   h1 Welcome to CONNECTIMUS
   h2 International Students Portal
   h3 Head over to the 
    a(href='blog') CHATROOM 
    p and say hi to the other international students!
   h4 Here's what some of them are saying: 
  #welcome
   