extends ../layout

block content
  h1 Welcome to 
   a(href='/') CONNECTIMUS
  h2 International Students Portal
  #container
  #info(style='visibility:hidden; width:300px;')
    p Your Message has been Posted!!!
  p *Full Name:
   input(type="text", name="name", id = "name")
   p *Message:
   textarea(name="message", id = "message")
   #error(style='visibility:hidden; width:200px; height: 10px;')
     p Limit your message to 300 characters 
   br
  button.btn.btn-default.navbar-btn(type='button', onclick= 'customVars.show()') Post Message
  #wrapper  
   #messages
  